/* genral content */

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: "Permanent Marker", cursive;
  background-color: whitesmoke;
}

h2 {
  font-size: 4rem;
}

p {
  font-family: "Varela Round", sans-serif;
  font-size: medium;
}

header {
  display: flex;
  justify-content: space-around;
  position: relative;
}

nav {
  width: 10%;
  margin-top: 6rem;
}

li {
  margin: 1rem;
  list-style-type: none;
  color: black;
}

a {
  color: black;
  text-decoration: none;
  font-size: 3rem;
}

header div {
  position: relative;
  margin: 1rem 2rem;
  width: 50%;
  height: 70rem;
}

/* image and figure settings */

img,
figure {
  background-size: 100%;
  height: 45rem;
  width: 37rem;
  margin: 3rem 0rem;
  top: 4rem;
  right: 2rem;
  filter: drop-shadow(5px 5px 10px black);
}

figure {
  position: absolute;
}

#figure1 {
  background-image: url("../assets/About.png");
  transform: rotate(0deg);
}

#figure2 {
  background-image: url("../assets/Port.png");
  transform: rotate(4deg);
}

#figure3 {
  background-image: url("../assets/Phone.png");
  transform: rotate(-7deg);
}

#figure4 {
  background-image: url("../assets/Resume1.png");
  transform: rotate(-3deg);
}

/* about section settings*/

#abdiv {
  margin: 1rem 2rem;
  width: 50%;
  height: 70rem;
}
#about {
  display: flex;
  justify-content: space-around;
  height: 56rem;
}

#about h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* portfolio settings */

#portfolio {
  display: block;
  height: 60rem;
}

#portfolio h2 {
  margin-left: 5rem;
}

#portdiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0rem 1rem;
}

/* contact info */

#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5rem;
}

#contact h2 {
  margin-bottom: 3rem;
}

#contact ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  font-size: 5rem;
  font-family: "Varela Round", sans-serif;
}

/* resume and footer section */

#resume {
  display: flex;
  flex-direction: column;
  text-align: end;
}

#resume h2 {
  margin-right: 5rem;
  margin-bottom: 3rem;
}
#resume div {
  display: flex;
  justify-content: center;
}
#resume img {
  width: 65%;
  height: auto;
}

footer {
  background-color: aquamarine;
  text-align: center;
  font-size: 5rem;
  height: 7rem;
  padding: 1rem;
  margin-top: 4rem;
}

/* Header button effect */
.button {
  color: darkgray;
  font-size: 6rem;
  text-decoration: none;
}

.button {
  transition-duration: 0.4s;
  position: relative;
}

.button:hover {
  color: black;
  font-size: 9rem;
}

.button:hover::after {
  content: "🖍️";
  position: absolute;
  top: 0;
  right: -9rem;
}

header:has(#list2:hover) #figure2 {
  z-index: 100;
}

header:has(#list3:hover) #figure3 {
  z-index: 100;
}

header:has(#list4:hover) #figure4 {
  z-index: 100;
}

/* media size adjustments */

@media (max-width: 1100px) {
  #portdiv img {
    width: 30rem;
    height: 38rem;
  }
}

@media (max-width: 950px) {
  header,
  article,
  #about,
  #contact,
  #contact ul,
  #portdiv {
    display: block;
  }
  nav {
    margin-top: 6rem;
    width: 100%;
    text-align: center;
  }
  figure {
    background-size: 100%;
    height: 36rem;
    width: 30rem;
    margin: 3rem 0rem;
    top: 0rem;
    right: 4rem;
    filter: drop-shadow(5px 5px 10px black);
  }
  header div {
    width: 100%;
    margin: 0;
    height: 45rem;
  }
  #about {
    height: auto;
    text-align: center;
    margin: 1rem;
  }

  #abdiv {
    width: auto;
    height: auto;
  }

  #portdiv,
  #portfolio {
    text-align: center;
    margin: 0;
    height: Auto;
  }

  #portfolio h2,
  #resume h2 {
    margin-left: 0;
  }

  a {
    font-size: 2rem;
  }

  #resume {
    text-align: center;
  }

  footer {
    font-size: 3rem;
    height: 4rem;
    padding: 0.5rem;
  }
}
