* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

nav,
h2,
footer {
  font-family: "Permanent Marker", cursive;
}

h2 {
  font-size: 4rem;
}

p {
  font-family: "Varela Round", sans-serif;
  font-size: medium;
}

header {
  display: flex;
  justify-content: space-around;
  position: relative;
}

nav {
  width: 10%;
  margin-top: 6rem;
}

li {
  margin: 1rem;
  list-style-type: none;
  color: black;
}

.button {
  color: darkgray;
  font-size: 6rem;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
  font-size: 3rem;
}

header div {
  position: relative;
  margin: 1rem 2rem;
  width: 50%;
  height: 70rem;
}

figure {
  background-size: 100%;
  height: 45rem;
  width: 37rem;
  margin: 3rem 0rem;
  top: 4rem;
  right: 2rem;
  filter: drop-shadow(5px 5px 10px black);
}

#figure1 {
  background-image: url("../assets/About.png");
  transform: rotate(0deg);
  position: absolute;
}

img {
  background-size: 100%;
  height: 45rem;
  width: 37rem;
  margin: 3rem 0rem;
  top: 4rem;
  right: 2rem;
  filter: drop-shadow(5px 5px 10px black);
}

#figure2 {
  background-image: url("../assets/Port.png");
  transform: rotate(4deg);
  position: absolute;
}

#figure3 {
  background-image: url("../assets/Phone.png");
  transform: rotate(-7deg);
  position: absolute;
}

#figure4 {
  background-image: url("../assets/Resume1.png");
  transform: rotate(-3deg);
  position: absolute;
}

#abdiv {
  margin: 1rem 2rem;
  width: 50%;
  height: 70rem;
}
#about {
  display: flex;
  justify-content: space-around;
  height: 56rem;
}

#about h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#portfolio {
  display: block;
  height: 60rem;
}

#portfolio h2 {
  margin-left: 5rem;
}

#portdiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0rem 1rem;
}

#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5rem;
}

#contact h2 {
  margin-bottom: 3rem;
}

#contact ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  font-size: 5rem;
  font-family: "Varela Round", sans-serif;
}

#resume {
  display: flex;
  flex-direction: column;
  text-align: end;
}

#resume h2 {
  margin-right: 5rem;
  margin-bottom: 3rem;
}
#resume div {
  display: flex;
  justify-content: center;
}
#resume img {
  width: 65%;
  height: auto;
}

footer {
  background-color: aquamarine;
  text-align: center;
  font-size: 5rem;
  height: 7rem;
  padding: 1rem;
  margin-top: 4rem;
}

/* Header button effect */

.button {
  transition-duration: 0.4s;
  position: relative;
}

.button:hover {
  color: black;
  font-size: 9rem;
}

.button:hover::after {
  content: "🖍️";
  position: absolute;
  top: 0;
  right: -9rem;
}

header:has(#list2:hover) #figure2 {
  z-index: 100;
}

header:has(#list3:hover) #figure3 {
  z-index: 100;
}

header:has(#list4:hover) #figure4 {
  z-index: 100;
}
